.Course-create-search-courses-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-left: 4.1%;
    margin-top: 4px;
}
.Course-create-search-courses {

    position: relative;
    color: #000080;
    line-height: 120%;
}
.Course-create-search-heading{
     position: relative;
}

.Course-create-search-vuesaxlinearadd-circle-parent {

    border-radius: 32px;

    border-color: '1px solid #f5f5f5 !important';
background-color: #f5f5f5;
    height: 35px;

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: flex-start;

    padding: 2px 15px;

    box-sizing: border-box;

    gap: 8px;

    font-size: var(--font-size-base);

    color: var(--primary);
    cursor: pointer;

}
.Course-create-search-vuesaxlinearadd-circle-icon {

    width: 20px;

    position: relative;

    height: 20px;

}
.Course-create-search-search-parent {
    display: flex;
    border-radius: 32px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--regular-16-size);
    color: var(--text-05);
    margin-right: 3.6%;
    background-color: white;
    padding: 4px 15px;

}

.Course-create-search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: var(--regular-16-size);
    color: var(--text-05);
    padding: 8px;
    background-color: transparent;
}
  .Course-create-search-icon-button{
    border:none;
    background: none;
  }
  .Course-create-search-icon-h {
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: relative;
    top: 5px;
}

.Course-create-search-frame-parent {

    width: 100%;

    position: relative;

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: space-between;

    gap: 0px;

    text-align: left;

    font-size: var(--bold-27-size);

    color: var(--text-02);
    font-family: var(--bold-27);
    margin-top: 1%;

}

