.header-dashboard {
    line-height: 120%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 6px 20px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
  }
  
  .header-dashboard.active {
    background-color: rgba(50, 50, 255, 0.1);
    color: #00008B;
    border-radius: 20px;
    padding: "8px 22px";
  }
  