.history-container {
  font-family: 'Arial', sans-serif;
  background-color: white;
  width: 50%;
  padding: 10px 30px;
}

.history-section {
  /* border-bottom: 1px solid #f0f0f0; */
  margin-bottom: 10px;
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px ;
  cursor: pointer;
    background-color: #FBFBFB;
border-radius: 12px;
}

.section-title {
  font-weight: bold;
  font-size: 16px;
  color: #1e1e1e;
}

.chevron {
  font-size: 16px;
  color: #1e1e1e;
  margin-left: 10px;
}

.history-docs {
  margin: 3px 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 12px;
  padding: 10px 20px;
}

.arrow-icon {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.history-doc-section {
  padding: 12px 20px;
  overflow-y: auto;
  max-height: 82vh;
  margin-right: 20px !important;
  scrollbar-width: thin;
}

.history-label {
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
  margin: 16px 0 8px;
  padding-left: 2px;
}
.history-document {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  color: #555; /* Default text color */
}

.history-document:hover {
  color: #000080; /* Navy blue on hover */
}

.history-doc-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.history-doc-time {
  font-size: 12px;
  color: #aaa;
  margin-left: 10px;
}

