.loginpage_container {
  min-height: 100vh;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
}

.loginpage_left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFDF8;
}

.loginpage_sideImageWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loginpage_sideImage {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 98vh;
  width: 350px;
}

.loginpage_right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 32px;
  position: relative;
}

.loginpage_topRightImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: auto;
  z-index: 1;
}

.loginpage_box {
  position: relative;
  z-index: 2;
  width: 43%;
  padding: 30px 30px 0px 30px;
  border-radius: 15px;
  text-align: center;
  background-color: white;
  border: 1px solid #EBEBEB;
}

.loginpage_welcome {
  font-weight: 400;
}

.loginpage_gradientText {
  font-weight: bold !important;
  background: linear-gradient(90deg, #8e2de2, #4a00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-bottom: 10px !important;
}

.loginpage_subText {
  color: #888888;
  max-width: 320px;
  margin: 10px auto 0 auto;
}

.loginpage_loginTitle {
  font-weight: 700 !important;
  color: #333;
  text-align: left;
  margin-bottom: 10px !important;
  font-size: 18px !important;
}

.loginpage_formGroup {
  margin-bottom: 15px;
}

.loginpage_input {
  width: 100%;
  padding: 3%;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: #F6F6F6;
  border: none;
  outline: none;
  font-size: 1vw;
}

.loginpage_input::placeholder {
  font-size: 1vw;
  color: #8E8E8E;
}

.loginpage_passwordWrapper {
  position: relative;
  margin-bottom: 20px;
}

.loginpage_eyeIcon {
  position: absolute !important;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa !important;
  padding: 4px !important;
}

.loginpage_button {
  margin-top: 16px;
  border-radius: 20px !important;
  text-transform: none;
  height: 32px;
  width: 200px !important;
  background-color: var(--primary-blue) !important;
  color: white;
}

.loginpage_button:hover {
  background-color: var(--primary-blue) !important;
}

.loginpage_button.Mui-disabled {
  background-color: var(--primary-blue) !important;
  color: white !important;
  opacity: 1;
}

.loginpage_power {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 24px;
}
